html{
    background-color: rgba(234, 148, 91, 0.241);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(145, 78, 47);
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(44, 43, 43);
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(31, 26, 17);
}

div{
    background-color: rgba(223, 145, 55, 0.652);
    border-radius: 2rem;
    text-align: center;
}

a{
    background-color: rgba(128, 128, 128, 0.573);
    border-radius: 0.4rem;
    height: 2rem;
    color: black;
}

table{
    border-radius: 0.3rem;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.tableContainer{
    background-color:rgba(228, 179, 114, 0.586);
    position: absolute;
}
form{
    color: rgb(35, 32, 30);
}
span{
    color: rgb(80, 36, 1);
}